/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik Mono One", sans-serif;
  font-family: "Shizuru", cursive;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container